* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 168, 247);
  overflow: hidden;
}

.box {
  position: absolute;
  color: white;
  right: 10%;
  top: 40%;
  font-family: sans-serif;
  width: 600px;
  height: 200px;
  text-align: right;
}

.box h2 {
  font-size: 58px;
}

.box h2 span {
  font-size: 45px;
}

.box p {
  font-size: 20px;
  margin-top: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.box p span {
  font-size: 40px;
  margin-top: 10px;
}

.overlay-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 0 0 100% 0;
  box-shadow: 0 0 5px black;
  z-index: 0;
}

.overlay-1 > label {
  position: absolute;
  font-size: 35px;
  top: 20%;
  left: 20%;
  color: rgb(49, 168, 247);
}
.overlay-1 .icon-up {
  transition: transform 0.5s linear;
}

.overlay-1 .icon-down {
  visibility: hidden;
  transition: transform 0.5s linear;
}

.overlay-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-bottom-right-radius: 100%;
  display: none;
}

.overlay-2 .icon-1 {
  margin: 20px 0 0 20px;
  font-size: 40px;
  color: rgb(49, 168, 247);
}

.overlay-2 .menu {
  margin: 100px 0 0 20px;
  list-style: none;
}

.overlay-2 .menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 20px 0 0 0;
  width: 220px;
  height: 30px;
  /* border: 1px solid red; */
  transition: background-color 0.5s ease;
  background-color: white;
}

.overlay-2 .menu li a {
  position: absolute;
  text-decoration: none;
  padding: 5px 70px;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(49, 168, 247);
  font-weight: 600;
}

.overlay-2 .menu li .a-2 {
  width: 200px;
}

.overlay-2 .menu li a:focus {
  background-color: rgba(0, 0, 0, 0.171);
  color: black;
}

input:checked ~ .overlay-2 {
  display: block;
  width: 2000px;
  height: 2000px;
}

input:checked ~ .icon-down {
  visibility: visible;
  z-index: 1;
  transform: rotate(180deg);
}

input:checked ~ .icon-up {
  transform: rotate(180deg);
}
