* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: Asap, sans-serif;
}

.section h1 {
  text-transform: uppercase;
  position: relative;
}

.section h1::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 50%;
  width: 56%;
  height: 1px;
  background-color: grey;
}

.section .nav {
  display: flex;
}

.section .nav .nav-1 {
  text-align: center;
  padding: 10px;
  background-color: #e5e5e5;
  margin: 20px 20px 0 0;
  border-radius: 30px 30px;
  color: white;
  cursor: pointer;
}

.section .nav .nav-1 a {
  text-decoration: none;
  color: white;
}

.s;
