* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  width: 80%;
  margin: 10px auto;
  font-family: Roboto, sans-serif;
  /* border: 1px solid red; */
}
.container .header {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.container hr {
  border: 1px solid rgba(128, 128, 128, 0.363);
  margin-bottom: 10px;
}
.container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.container .content .export-file {
  display: flex;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}
.container .content .export-file .file-down {
  background-color: dodgerblue;
  width: 20%;
  color: white;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
}
.container .content .export-file .file-name {
  margin-left: 20px;
  font-size: 16px;
  padding-left: 5px;
  outline: 0;
}
.container .content .editor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  /* border: 1px solid red; */
}
.container .content .editor button {
  height: 100%;
  width: 15%;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.container .content .editor .import-color {
  height: 100%;
  width: 15%;
}
.container .import {
  /* border: 1px solid red; */
}
.container .import .import-letter {
  width: 100%;
  height: 300px;
  padding: 20px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  box-shadow: 1px 1px 8px black;
  margin-bottom: 20px;
  resize: none;
  border: none;
  outline: 0;
}
.container .import .data {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
