/* section {
  text-align: center;
} */
/* 1 */
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
}
/* 2 */
.select {
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 5px;
}

button {
  width: 120px;
  height: 40px;
  border: 0;
}

.button-2 {
  width: 160px;
}

button:hover {
  background-color: rgb(40, 56, 141);
  color: white;
}
/* 3 */

.product {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.product-1,
.product-2,
.product-3,
.product-4 {
  margin-right: 40px;
}

.check-star {
  text-align: center;
  margin-top: 30px;
}

.star-1::before {
  content: "⭐️";
}

.star-2::after {
  content: " ✰";
}
.infor-1 {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.p-2 {
  font-weight: 900;
  font-size: 15px;
}
