* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

#container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

#container .item-list {
  display: flex;
  transition: transform 0.5s ease;
}

#container .item-list .item {
  min-width: 100%;
}

#container .item-list .item img {
  width: 100%;
  height: auto;
}

#container .arrow span {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  z-index: 99;
}

#container .arrow .ar-left {
  left: 10px;
}

#container .arrow .ar-right {
  right: 10px;
}

#container .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

#container .dots span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

#container .dots .active {
  background-color: orange;
}

#container .dots span:hover {
  background-color: orange;
}
