* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.player {
  width: 80%;
  margin: 30px auto;
}

.play-btn {
  text-align: center;
}

.player .play-btn i {
  cursor: pointer;
}

.player .play-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  width: 80%;
  margin: 30px auto;
  height: 10px;
  background: gray;
  position: relative;
}

.progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: red;
  width: 0;
}

.progress-bar:hover {
  opacity: 0.6;
}

.progress-bar .progress span {
  position: absolute;
  right: 0;
  top: -1px;
  translate: 50% 0;
  width: 12px;
  height: 12px;
  background-color: blueviolet;
  border-radius: 50%;
}

.play-timer .run-timer {
  position: fixed;
  background-color: black;
  color: white;
  font-size: 10px;
  top: 60px;
  display: none;
}
