.homePage {
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: green;
  color: white;
}

.homeSelection {
  display: flex;
  gap: 100px;
}
.homeUser {
  color: white;
}
