@import "partials/variables";
@import "partials/placeholders";
@import "partials/mixin";

@include resetCSS;

body {
  width: 1600px;
  height: 6250px;
  margin: 0 auto;
  .header-main {
    width: 1600px;
    height: 108.333px;
    display: flex;
    align-items: center;
    padding: 0 198.17px 0 168.33px;
    // border: 1px solid red;
    .header-logo {
      img {
        width: 169.167px;
        height: 130.833px;
      }
    }
    .selection {
      width: 740px;
      height: 56.7px;
      margin: 51.67px 0 0 324.17px;

      .menu {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        height: 56.7px;
        list-style: none;
        position: relative;
        overflow: hidden;

        .menu-list {
          a {
            text-decoration: none;
            color: $textColor;
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            line-height: 21.667px;
          }
          a:hover {
            transition: 1s ease;
            color: $boxColor;
          }
          .selection-product {
            color: $boxColor;
          }
          .arrow-down {
            position: absolute;
            bottom: 0;
            left: 39%;
          }
        }
        .list-out-1:hover::before {
          content: "";
          position: absolute;
          width: 80px;
          height: 3px;
          background-color: $boxColor;
          bottom: 0;

          @include animation-main;
        }
        .list-out-2:hover:before {
          content: "";
          position: absolute;
          width: 110px;
          height: 3px;
          background-color: $boxColor;
          bottom: 0;

          @include animation-infor;
        }
        .list-out-4:hover::before {
          content: "";
          position: absolute;
          width: 60px;
          height: 3px;
          background-color: $boxColor;
          bottom: 0;

          @include animation-new;
        }
        .list-out-5:hover::before {
          content: "";
          position: absolute;
          width: 60px;
          height: 3px;
          background-color: $boxColor;
          bottom: 0;

          @include animation-contact;
        }
      }
    }
  }

  .wrapper {
    .title-big {
      width: 1600px;
      height: 166.667px;
      background-color: $secondaryColor;
      padding: 57px 200px;
      //   border: 1px solid red;
      h1 {
        color: $textColor;
        font-family: Inter;
        font-size: 43.333px;
        font-weight: 700;
      }
    }

    .content-product {
      padding: 100px 314px 0 314px;
      font-family: Inter;
      //   border: 1px solid red;
      h2 {
        text-align: center;
        color: $textColor;
        font-size: 31.667px;
        font-weight: 800;
        line-height: 131.523%;
      }
      .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;

        margin-top: 50px;
        // border: 1px solid red;
        .product {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .elip-1 {
            width: 269.316px;
            height: 269.316px;
            border-radius: 269.316px;
            background: var(--Orange-300, #ffba94);
          }
          .elip-2 {
            width: 269.316px;
            height: 269.316px;
            border-radius: 269.316px;
            background: var(--Green-300, #c5ffa8);
          }
          img {
            width: 240.117px;
            height: 241.148px;
            position: absolute;
            top: 114.64px;
          }
          .infor {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
            .title-little-1 {
              width: 183.333px;
              height: 56.667px;
              padding: 0px 45px 0 45px;
              text-align: center;
            }
            .title-little-2 {
              display: flex;
              width: 205.833px;
              height: 56.667px;
              padding-bottom: 0.667px;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .title-little-3 {
              text-align: center;
              padding-bottom: 8px;
            }
            .title-little-4 {
              display: flex;
              width: 183.333px;
              height: 56.667px;
              padding-bottom: 0.667px;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .title-little-5 {
              display: flex;
              width: 205.833px;
              height: 56.667px;
              padding: 0px 55.833px 0.667px 55px;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .title-little-6 {
              text-align: center;
              padding-bottom: 9px;
            }
            .line {
              width: 40.833px;
              height: 2px;
              background-color: var(--grey-500-main, #a3a3a3);
            }
            .text-quantity {
              margin-top: 16.67px;
            }
            .text-price {
              margin-top: 6.33px;
              span {
                color: var(--Content, #2c2c2c);

                font-size: 23.333px;

                font-weight: 600;
                line-height: 26.667px;
              }
            }
            a {
              display: inline-flex;
              padding: 13.333px 11.667px;
              margin-top: 10.91px;
              justify-content: center;
              align-items: center;
              gap: 8.333px;
              border-radius: 6.667px;
              text-decoration: none;
              color: $primaryColor;
              font-weight: 700;
              background: var(--green-800-main, #46b20f);
              border: 1px solid var(--green-800-main, #46b20f);
            }
            a:hover {
              color: var(--green-800-main, #46b20f);
              background-color: $primaryColor;
              transition: 1s ease;
            }
          }
        }
      }
    }
  }
}
