* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(128, 128, 128, 0.418);
  overflow: hidden;
}

.container {
  position: relative;
  margin: 50px auto;
  width: fit-content;
  /* border: 1px solid blue; */
  background-color: white;
}

.container .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  list-style: none;
}

.container .content li {
  padding: 15px 35px;
  text-align: center;
  border: 1px solid gray;
  color: gray;
  display: inline-block;
  /* background-color: white; */
}

.container .content li label {
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
}

.container .content li .text {
  position: absolute;
  text-align: left;
  top: 110%;
  left: 0;
  height: 170px;
  background-color: white;
  overflow-x: scroll;
  display: none;
  transform-origin: top;
  transition: transform 1s ease;
}

.container .content li .text h2 {
  margin: 20px 0 0 20px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.795);
}

.container .content li .text p {
  margin: 0 0 0 20px;
  line-height: 25px;
}

#content-1:checked ~ .text {
  display: block;
  animation: example 1s ease-in-out;
}
#content-2:checked ~ .text {
  display: block;
  animation: example 1s ease-in-out;
}
#content-3:checked ~ .text {
  display: block;
  animation: example 1s ease-in-out;
}
#content-4:checked ~ .text {
  display: block;
  animation: example 1s ease-in-out;
}

li:hover {
  background-color: rgb(66, 152, 219);
  color: white;
}
:root:focus li {
  background-color: rgb(66, 152, 219);
  color: white;
}

li:hover label {
  color: white;
}

@keyframes example {
  from {
    transform: perspective(400px) rotateX(-90deg);
    opacity: 0;
  }
  to {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
